*{
    padding: 0;
    margin: 10px;
    outline: 0;
}
body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}
nav{
   
    display: flex;
    justify-content: space-around;
    align-items: center;

}
nav .nav-items{
   display: flex;
    font-size: 25px;
    gap: 60px;
    font-family:crossorigin, sans-serif;
}
.nav-items .active-item {
    color: #FE5E35;
}
nav img:nth-child(3){
    width: 40vh;
    margin-right: -80px;
}
nav img:nth-child(1){
    width: 100px;
}


/* left section  start */

.intro-section{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.left-section h3{
    color: #504c4b;
    font-size: 30px;
    width: 25vw; font-family:crossorigin, sans-serif;
}
.left-section h1{
    
    font-size: 4.5vw;
    width: 59vw;
    height: 50px;
    font-family:Fredoka one, sans-serif;
}
.left-section .sub-headlines{
   color:#504c4b;
    width: 40vw;
    margin-left: 10vw;
    margin-top: 70px;
    font-size: 25px;
    font-family:crossorigin, sans-serif;
}
.left-section .sub-headlines img{
    background-color: #FE5E35;
    border-radius: 15px;
    width: 20px;
    padding: 3px 3px;
    position: absolute;
   margin-top: -2px;
   margin-left: -40px;
}
.left-section p{
    color: #ada8a8;
    font-size: 20px;
    align-items: center;
    width: 50vw;
    margin-top: 10vh;
    font-family:crossorigin, sans-serif;
}
.left-section .action-btns button{
    background-color: #FE5E35;
    color: #ffffff;
    margin-top: 30px;
    padding: 10px 20px;
    border-radius: 15px;
    border: hidden;
}
/* ////////////////////////right section//////////// */
 .headphone {
    margin-top: -5vh;
    margin-left: -100px;
    width: 500px;
}
.discount-content{
    
    margin-top: 250px;
    margin-left: -140px;
position: absolute;
}
.headphone-div img:nth-child(1){
    position: absolute;
    margin-top: 200px;
    margin-left: -180px;
}
.action-btn{
    background-color: #FE5E35;
    color: #ffffff;
    border-color:#FE5E35;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}

/* ////////////////////////media query//////////////////// */
@media screen and (max-width:768px) {
    .intro-section{
        display: grid;
        grid-template-columns: auto;
        
    }
    .search{
        display: none;
    }
    .intro-section .reverse>.right-section{
        display: grid;
        grid-template-columns: auto;
    }
    .right-section{
        display: grid;
        order: 2;
    }
    nav .nav-items{
       background-color: #FE5E35;
         font-size: 15px;
         gap: 5px; 
     }
     nav img:nth-child(3){
       
        width: 40vh;
       
    }
    .headphone {
        width: 400px;
    }
    .headphone-div{
            margin-left: 170px;
    }
    .action-btn{
       
      margin-left: 100px; 
    }
    .discount-content{
    width: 100px;
    }
    .headphone-div img:nth-child(1){
       width: 150px;
    }
    .intro-section{
        align-items: center;
        justify-content: center;
    }
}